
.calculadora{
    display:block;
    margin:0 auto;
    padding:20px;
    background-color:#2980b9;
    width:300px;
    height:500px;
    border-radius: 25px;
  }
  .calculadora td button{
    outline: none;
    display:block;
    border-spacing: 2px;
    width:70px;
    height: 70px;
    font-size: 25px;
    border-radius: 10px;
    border: none;
  }
  #resultado{
    display:block;
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
    width:300px;
    height: 100px;
    line-height: 100px;
    background-color:#fff;
    border-radius: 15px;
    overflow-y: scroll;
  }

.sopera{
    background-color: #a9ddff;
    border: none;
    display:block;
}
.sopera:hover{
    border: none;
    background: #d2f0ff;
    color: black;
    font-size: 40px;
    border-radius: 20px;
    transition: all 100ms ease;
    display:block;
    
}
#igual:hover{
    font-size: 45px;
    background: rgba(0,0,0,0);
    color: #000000;
    box-shadow: inset 0 0 0 3px #ffffff;
    transition: all 100ms ease;
}
#reset:hover{
    font-size: 45px;
    background: rgba(0,0,0,0);
    color: #000000;
    box-shadow: inset 0 0 0 3px #ffffff;
    transition: all 100ms ease;
}

